.form-area {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.form-area input{
  margin-top: 15px;
}

.form-area textarea {
  margin-top: 15px;
  height: 150px;
  resize: none;
}

.form-editor {
  margin-top: 5%;
}

.form-editor input {
  margin-top: 20px;
}

#formsubm {
  margin-top: 10px;
}

#mceu_10 {
  margin-top: 20px;
}
